<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <title>Kiton Gomas - Cadastrar produtos</title>
</head>
<body>
    <header class="cabe">

        <div class="red" style="height:50px">
            <div>
                <div style="display:inline;margin-top: 100px;">
                    <a class="nameshop" href="/">Kiton Gomas</a>
                </div>
                    <form style="display:inline" class="busca" method="post" th:action="@{/pesquisarProduto}">
                        <input name="search" id="b" type="search" placeholder="Digite o produto desejado" >
                        <i id="search" class="bi bi-search"></i>
                    </form> 
                <nav class="nav" style="display:inline">
                    <a href="/" class="navbtn">Início</a>
                    <a href="/pedidos" class="navbtn">Pedidos</a>  
                    <a href="https://wa.me/5584981611503" class="navbtn" target="_blank">Fale conosco</a>
                    <a href="/painel" class="navbtn">Painel ADM</a>          
                </nav>
            </div>
        </div>
    </header>

    <section class="scCliente">
        <form class="formCCliente" th:action="@{/cadastrarProduto}" th:object="${produto}" th:method="post">
            <fieldset class="fdCliente">
                <div class="divCC">
                    <label><strong>Nome*:</strong></label>
                    <input class="inpCC" th:field="*{nomeProduto}" type="text" placeholder="KinderOvo" required>
                </div>
                <div class="divCC">
                    <label><strong>Marca*:</strong></label>
                    <input class="inpCC" th:field="*{marca}" type="text" placeholder="Kinder" required>
                </div>
                <div class="divCC">
                    <label><strong>Preço compra*:</strong></label>
                    <input class="inpCC" th:field="*{precoCompra}" type="text" placeholder="R$ 5,89" required>
                </div>
                <div class="divCC">
                    <label><strong>Preço venda*:</strong></label>
                    <input class="inpCC" th:field="*{precoVenda}" type="text" placeholder="R$ 5,89" required>
                </div>
                <div class="divCC">
                    <label><strong>Data de cadastro*:</strong></label>
                    <input class="inpCC" th:field="*{dataCadastro}" type="date" required>
                </div>
                <div class="divCC">
                    <label><strong>Altura*:</strong></label>
                    <input class="inpCC" th:field="*{altura}" type="text" placeholder="5cm" required>
                </div>
                <div class="divCC">
                    <label><strong>Largura*:</strong></label>
                    <input class="inpCC" th:field="*{largura}" type="text" placeholder="8cm" required>
                </div>
                <div class="divCC">
                    <label><strong>Profundidade*:</strong></label>
                    <input class="inpCC" th:field="*{profundidade}" type="text" placeholder="7cm" required>
                </div>
                <div class="divCC">
                    <label><strong>Volume*:</strong></label>
                    <input class="inpCC" th:field="*{volume}" type="text" placeholder="10cm" required>
                </div>
                <div class="divCC">
                    <label><strong>Peso*:</strong></label>
                    <input class="inpCC" th:field="*{peso}" type="text" placeholder="40G" required>
                </div>
                <div class="div-botoes">
                    <button type="submit" class="btnCC">Cadastrar</button>
                    <button type="reset" class="btnCC">Limpar</button>
                </div>
            </fieldset>
        </form>
    </section>
</body>
</html>