<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <title>Kiton Gomas - Meus Pedidos</title>
</head>

<body>
    <header class="cabe">

        <div class="red" style="height:50px">
            <div>
                <div style="display:inline;margin-top: 100px;">
                    <a class="nameshop" href="/">Kiton Gomas</a>
                </div>
                    <form style="display:inline" class="busca">
                        <input id="b" type="search" placeholder="Digite o produto desejado">
                    </form> 
                <nav class="nav" style="display:inline">
                    <a href="/" class="navbtn">Início</a>
                    <a href="/pedidos" class="navbtn">Pedidos</a>  
                    <a href="/painel" class="navbtn">Painel ADM</a>          
                </nav>
            </div>
        </div>
    </header>
    </header>

    <div class="divP">
        <table class="tabelaP tabela-cliente">
            <tr class="rowP">
                <th>Nome do cliente</th>
                <th>Data de nascimento</th>
                <th>Gênero</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Rua</th>
                <th>Nº da Casa</th>
                <th>Cidade</th>
                <th>Bairro</th>
                <th>Estado</th>
                <th>CEP</th>
            </tr>
            <tr class="rowC" th:each="cliente : ${clientes}">
                <td th:text="${cliente.nome}">Cleitin da Silva</td>
                <td th:text="${#dates.format(cliente.dataNascimento, 'dd/MM/yyyy')}">1989/05/10</td>
                <td th:text="${cliente.genero}">84981611503</td>
                <td th:text="${cliente.telefone}"></td>
                <td th:text="${cliente.email}">cleitinsilva@hotmail.com</td>
                <td th:text="${cliente.rua}">rua do cleiton</td>
                <td th:text="${cliente.numeroDaCasa}">24</td>
                <td th:text="${cliente.cidade}">Cleiton City</td>
                <td th:text="${cliente.bairro}">Mil grau</td>
                <td th:text="${cliente.estado}">RN</td>
                <td th:text="${cliente.cep}">69582314</td>
                <td>
                    <a th:href="@{/editar/{id}(id=${cliente.id})}"><i class="bi bi-pencil-fill"></i></a>
                </td>
                <td><a th:href="@{/excluir/{id}(id=${cliente.id})}"><i class="bi bi-eraser-fill"></i></a></td>
            </tr>
        </table>
    </div>
    
</body>
</html>