<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <title>Kiton Gomas - Inicio</title>
</head>

<body>
    <header class="cabe">

        <div class="red" style="height:50px">
            <div>
                <div style="display:inline;margin-top: 100px;">
                    <a class="nameshop" href="/">Kiton Gomas</a>
                </div>
                    <form style="display:inline" class="busca">
                        <input id="b" type="search" placeholder="Digite o produto desejado" >
                        <i id="search" class="bi bi-search"></i>
                    </form> 
                <nav class="nav" style="display:inline">
                    <a href="/" class="navbtn">Início</a>
                    <a href="/pedidos" class="navbtn">Pedidos</a>  
                    <a href="https://wa.me/5584981611503" class="navbtn" target="_blank">Fale conosco</a>
                    <a href="/painel" class="navbtn">Painel ADM</a>          
                </nav>
            </div>
        </div>
    </header>
    
    <div>
        <table>
            <tr>
                <td class="imgProduto"><img src="https://cf.shopee.com.br/file/391f047809673e160693a28cf9438690" alt="pacote de jujubas gomets" width="250" height="250">
                    <p>Pacote de jujubas Gomets</p>
                    <b>R$ 14,50</b>
                </td>
                <td class="imgProduto"><img src="https://images.tcdn.com.br/img/img_prod/704907/ovo_de_pascoa_chocolate_ao_leite_100gr_unidade_borussia_chocolates_557_1_ff19b1b7cef74dabdc29f5ef89fc2b75.jpeg" alt="ovo de pascoa" width="250" height="250">
                    <p>Ovo de páscoa 100G</p>
                    <b>R$ 9,97</b>
                </td>
                <td class="imgProduto"><img src="https://images-americanas.b2w.io/produtos/54194249/imagens/ovo-de-pascoa-kit-kat-332g-nestle/54194246_1_large.jpg" alt="ovo de páscoa - kitkat" width="250" height="250">
                    <p>Ovo de páscoa kitkat 332G</p>
                    <b>R$ 39,50</b>
                </td>
                <td class="imgProduto"><img src="https://www.lacta.com.br/arquivos/ids/158084-550-550/7622210565990_01.jpg?v=637822682739470000" alt="Ovo de páscoa sonho de valsa" width="250" height="250">
                    <p>Ovo de páscoa sonho de valsa 277G</p>
                    <b>R$ 37,99</p>
                </td>
                <td class="imgProduto"><img src="https://deskontao.agilecdn.com.br/25234_1.jpg" alt="ovo de páscoa lacta" width="250" height="250">
                    <p>Ovo de páscoa lacta 170G</p>
                    <b>R$ 27,49</b>
                </td>
            </tr>
            <tr>
                <td class="imgProduto"><img src="https://superprix.vteximg.com.br/arquivos/ids/191080-600-600/843792.jpg?v=637375200153900000" alt="kinder ovo" width="250" height="250">
                    <p class="nomeProd">Kinder Ovo</p>    
                    <b class="precoProd">R$ 5,89</b>
                </td>
                <td class="imgProduto"><img src="https://a-static.mlcdn.com.br/618x463/caixa-bombom-250g-garoto/magazinetambem/7766312aba7911eba3864201ac18500e/c376d18e5e7e0f82f8c7797b7be18171.jpg" alt="caixa de bombom - garoto" width="250" height="250">
                    <p class="nomeprod">Caixa de bombom da Garoto</p> 
                    <b class="precoProd">R$ 9,99</b>
                </td>
                <td class="imgProduto"> <img src="https://m.media-amazon.com/images/I/61g1weQXwbL._AC_SX425_.jpg" alt="caixa de bombom - lacta" width="250" height="250">
                    <p class="nomeProd">Caixa de bombom da Lacta</p>
                    <b class="precoProd">R$ 8,99</b>
                </td>
                <td class="imgProduto"><img src="https://static.paodeacucar.com/img/uploads/1/370/20170370.jpg" alt="caixa de bombom - nestle" width="250" height="250">
                    <p class="nomeProd">Caixa de bombom Nestle</p>
                    <b class="precoProd">R$ 7,99</b>
                </td>
                <td class="imgProduto"><img src="https://carrefourbr.vtexassets.com/arquivos/ids/5861348-800-auto?v=637330255897400000&width=800&height=auto&aspect=true" alt="pote de nutella" width="250" height="250">
                    <p class="nomeProd">Pote de Nutella</p>
                    <b class="precoProd">R$ 17,49</b>
                </td>
            </tr>
            <tr>
                <td class="imgProduto"><img src="https://www.finistore.com.br/dw/image/v2/BHBX_PRD/on/demandware.static/-/Sites-fini-master-catalog/default/dw5f1740eb/arosdemorango_90g_1.jpg?sw=1000&sh=1000&sm=fit" alt="fini - aros de morango 90g" width="250" height="250">
                    <p class="nomeProd">Fini - aros de morango 70G</p>
                    <b class="precoProd">R$ 5,71</b>
                </td>
                <td class="imgProduto"><img src="https://www.finistore.com.br/on/demandware.static/-/Sites-fini-master-catalog/default/dwa2672fc4/beijosdemorango_90g_1.jpg" alt="Fini - beijos 90G" width="250" height="250">
                    <p class="nomeProd">Fini - beijos 90G</p>
                    <b class="precoProd">R$ 4,59</b>
                </td>
                <td class="imgProduto"><img src="https://m.media-amazon.com/images/I/61FsfANylSS._AC_SL1000_.jpg" alt="Fini - Dentaduras 250G" width="250" height="250">
                    <p class="nomeProd">Fini - Dentaduras 250G</p>
                    <b class="precoProd">R$ 15,89</b>
                </td>
                <td class="imgProduto"><img src="https://www.finistore.com.br/dw/image/v2/BHBX_PRD/on/demandware.static/-/Sites-fini-master-catalog/default/dwdcf7032a/ursinhos_90g_1.jpg?sw=1000&sh=1000&sm=fit" alt="Fini - Ursinhos 90G" width="250" height="250">
                    <p class="nomeProd">Fini - Ursinhos 90G</p>
                    <b class="precoProd">R$ 3,99</b>
                </td>
                <td class="imgProduto"><img src="" alt="" width="250" height="250">
                    <p class="nomeProd"></p>
                    <b class="precoProd"></b>
                </td>
            </tr>
        </table>  
    </div>
</body>
</html>