<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <title>Kiton Gomas - Painel Administrativo</title>
</head>
<body>
    <header class="cabe">

        <div class="red" style="height:50px">
            <div>
                <div style="display:inline;margin-top: 100px;">
                    <a class="nameshop" href="/">Kiton Gomas</a>
                </div>
                    <form style="display:inline" class="busca" method="post" th:action="@{/pesquisarProduto}">
                        <input name="search" id="b" type="search" placeholder="Digite o produto desejado" >
                        <i id="search" class="bi bi-search"></i>
                    </form> 
                <nav class="nav" style="display:inline">
                    <a href="/" class="navbtn">Início</a>
                    <a href="/pedidos" class="navbtn">Pedidos</a>  
                    <a href="https://wa.me/5584981611503" class="navbtn" target="_blank">Fale conosco</a>
                    <a href="/painel" class="navbtn">Painel ADM</a>          
                </nav>
            </div>
        </div>
    </header>
    <div class="divPainel">
            <a href="/cadastrarClientes" class="btnPainel">Cadastrar Clientes</a>
            <a href="/cadastrarDependente" class="btnPainel">Cadastrar Dependente</a>
            <a href="/cadastrarProdutos" class="btnPainel">Cadastrar Produtos</a>
            <a href="/produtos" class="btnPainel">Listar Produtos</a>
            <a href="/clientes" class="btnPainel">Listar Clientes</a>
            <a href="/dependentes" class="btnPainel">Listar Dependentes</a>  
    </div>
    
</body>
</html>