

* {
    margin: 0;
}

header{
    user-select: none;
}

body{
    background-color: #F1F1F1;
}

nav {
    height: 30px;
    text-align: right;
    background-color: #B81118;
}

.navbtn {
    text-decoration: none;
    background: #B81118;
    padding: 10px;
    color: white;
    margin-top: 10px;
    font-family: "Audiowide", sans-serif;
}

.navbtn:hover {
    text-decoration: none;
    background: #79060c;
    padding: 10px;
    color: white;
    margin-top: 30px;
    font-family: "Audiowide", sans-serif;
}

.busca {
    text-align: center;
    background-color: #B81118;
    font-style: italic;
    font-size: 10px;
}

.red {
    background-color: #B81118;
}

#b {
    width: 50%;
}

.nameshop {
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10%;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: "Sofia", sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}

.imgProduto {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    border: 1.5px solid rgb(211, 211, 211);
    box-shadow: rgb(0 0 0 / 14%) 0px 6px 10px;
    column-gap: 20px;
    border-radius: 16px;
    overflow: hidden;
}

.imgProduto:hover{
    -webkit-transform: scale(1.2);
   transform: scale(1.2);
}

.tabelaPedidos{
    margin-top: .5rem;
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.tabelaPedidos .row:hover{
    background-color: #eee;
}

.tabelaPedidos td{
    padding: .3rem;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
}

.rowP{
    font-weight: bold;
    background-color: #ddd;
}

.divPedidos{
    padding-top: 2.5rem;
    padding-left: 35rem;
    padding-right: 35rem;
}

.divPainel{
    margin-top: 2%;
    text-align: center;
}

.btnPainel{
    text-decoration: none;
    background: #B81118;
    padding: 10px;
    color: white;
    margin-top: 10px;
    font-family: "Audiowide", sans-serif;
}

.btnPainel:hover{
    text-decoration: none;
    background: #79060c;
    padding: 10px;
    color: white;
    margin-top: 10px;
    font-family: "Audiowide", sans-serif;
}

.tabelaProdutos{
    padding: .3rem;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    
}

.rowC:hover {
    background-color: #eee;
}

td{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: .5rem;
}

.tabela-cliente{
    width: fit-content;
}

.formCCliente{
    margin-top: 20px;
    display: flex;
    text-align: left;
    margin: 0 auto; 
}

.scCliente{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div-botoes {
    margin-top: 2%;
}

.btnCC{
    background-color: #B81118;
    color: white;
}

.btnCC:hover{
    background-color: #79060c;
    color: white;
    cursor: pointer;
}

.fdCliente{
    background-color: #FFFFFF;
    border: 1.5px solid rgb(211, 211, 211);
    box-shadow: rgb(0 0 0 / 14%) 0px 6px 10px;
    column-gap: 20px;
    border-radius: 16px;
    overflow: hidden;
    padding: 1.5rem;

}

.inpCC{
    float: right;
     width: 170px;
}

.divCC{
    padding-bottom: .5rem;
}

#nasc{
    padding: 1px 2px;
}

#search{
   left: 1000px;
}